body {
    margin: 0 auto;
    font-family: 'Roboto Condensed', cursive;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Header */
.title {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 15px;
    line-height: 0px;
    border: 2px groove black;
    box-shadow: 10px 10px 2px 1px;
    text-decoration: none;
}

.title:not(:hover) {
    transform: scale(1);
    transition: 0.5s;
}

.title:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.title h1 {
    font-size: 600%;
    color: #23272A;
}

.title h2 {
    font-size: 160%;
    font-family: 'Inconsolata', cursive;
    color: #23272A;
}

header img {
    width: 900px;
    border-radius: 5%;
}


/* Navigation */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav ul li {
    list-style-type: none;
    display: inline-block;
}

.nav ul li:hover {
    transform: scale(0.8);
    transition: 0.2s all;
}

.nav ul li:not(:hover) {
    transform: scale(1);
    transition: 0.2s all;
}

.nav ul img.navimage {
    width: 150px;
    display: flex;
    padding: 100px;
}

.uparrow {
    position: fixed;
    width: 100px;
    height: 100px;
    left: 47%;
    top: 2%;
    padding: 1;
    z-index: 100;
}

.uparrow:hover {
    transform: scale(0.8);
    transition: 0.2s all;
}

.uparrow:not(:hover) {
    transform: scale(1);
    transition: 0.2s all;
}

/* Sections */
.subtitle h3 {
    font-size: 400%;
    color: #23272A;
}

.subtitle {
    padding-left: 5%;
}

.text {
    font-size: 200%;
    padding-left: 5%;
    font-family: 'Inconsolata', cursive;
    color: #23272A;
}

.section-list li {
    list-style-type: '➥ ';
}

.content ul li {
list-style-type: none;
display: inline-block;
}

.content-img {
    width: 150px;
    display: flex;
    margin: 50px;
}

.content ul li:hover {
    transform: scale(0.8);
    transition: 0.2s all;
}

.content ul li:not(:hover) {
    transform: scale(1);
    transition: 0.2s all;
}

/* Footer */

.copyright {
    display: flex;
    justify-content: center;
}

footer {
    color: #23272A;
}

footer ul li {
    list-style-type: square;
}

.credits {
    display: flex;
    justify-content: center;
    font-size: 125%;
}

footer p a {
    text-decoration: none;
}